main{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    padding-top: 90px;
    width: 500px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px){
    img{
        padding-top: 80px;
        width: 700px;
    }
}